<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load default properties from local properties files (Lower Precedence) Using "local-override=true" will cause system properties, init-parameters, etc. have 
		precedence over the properties files. Using "ignore-unresolvable="false" so that the application fails in case that a property is missing. -->
	<context:property-placeholder location="classpath*:/*-default.properties" order="10" local-override="true" ignore-unresolvable="false" />

	<context:annotation-config />
	<context:component-scan base-package="com.openshift.test.service">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<import resource="security-module.xml" />
	<import resource="storage-module.xml" />

	<beans profile="development">
		<context:property-placeholder location="classpath*:*-development.properties" ignore-resource-not-found="true"
			ignore-unresolvable="true" order="5" />
	</beans>
</beans>